
html
{ height: 100%;}

body
{ font: normal 1em arial, sans-serif;
  background: #84B3B4;
  background-position: center;
    color: #555;}
p
{ padding: 0 0 16px 0;
  line-height: 1.7em;
   color: #000000 }

h1
{ font: Georgia;
font-size: 30px;
  color: #000000;
text-align: center;
  }

h2
{ font: Georgia;
text-align: center;
  color: #000000;}

a, a:hover
{ outline: none;
  color: #111;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;}


#main, #header, #logo, #menubar, #site_content,#footer
{ margin-left: auto;
  margin-right: auto;}

#main
{ width: 910px;
  }

#header
{ width: 890px;
 }

#logo
{ width: 1000px;
  position: relative;
  height: 300px;
  background: url(balaton-sound.png)no-repeat;}



#site_content
{ width: 890px;
  overflow: hidden;
  background: #FFF0CE;}



#content
{ text-align: left;
  width: 800px;

  padding: 20px 0 15px 30px;}

#content ul
{ margin: 2px 0 22px 0px;}

img1
{float: right;
}
